:root {
  --font-size-16: 16px;
  --color-red: rgba(245, 56, 56, 1);
  --color-h1: rgba(11, 19, 42, 1);
  --color-description: #4f5665;
  --font-family: rubik;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  line-height: 1.3;
}

/* End CSS Reset */

.container {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}

.links {
  display: flex;
  gap: 40px;
  color: var(--color-description);
  font-size: var(--font-size-16);
  font-weight: 400;
  font-family: var(--font-family);
  justify-content: space-around;

  .link:hover {
    color: var(--color-red);
    // transition: 0.1s ease-in-out;
  }
}

.sign {
  display: flex;
  gap: 30px;
}

.sign-in-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-16);
  color: var(--color-h1);
}

.sign-up-button {
  border: 1px solid var(--color-red);
  padding: 13px 45px;
  border-radius: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-16);
  color: var(--color-red);
}

.sign-up-button:hover {
  color: white;
  background-color: var(--color-red);
  transition: 0.5s ease-in-out;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.main {
  flex: 1;
}

.h1-heading {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  color: var(--color-h1);
  line-height: 70px;
}

.last-word {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  color: var(--color-h1);
  line-height: 70px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size-16);
  color: var(--color-description);
  line-height: 30px;
  margin: 20px 40px 50px 0;

  .lasles {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size-16);
    color: var(--color-description);
    line-height: 30px;
  }
}

.get-started {
  border: 1px solid var(--color-red);
  padding: 17px 77px;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-16);
  color: white;
  background-color: var(--color-red);
}
.get-started:hover {
  box-shadow: 0px 25px 54px 0px hsla(0, 90%, 59%, 0.35);
  transition: 0.5s ease-in-out;
}

.pic {
  display: flex;
  justify-content: center;
  flex: 1;
}

.img {
  max-width: 100%;
}

.section-data {
  width: 1140px;
  height: 200px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 25px 80px -50px rgba(0, 0, 0, 0.5);
}

.data {
  display: flex;
  align-items: center;
  gap: 36px;
}

.border {
  border-right: 2px solid rgba(238, 239, 242, 1);
  height: 125px;
  gap: 129px;
}

.num {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 25px;
  color: var(--color-h1);
  line-height: 30px;
}

.type {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-description);
  line-height: 30px;
}

.h2-heading {
  font-family: var(--font-family);
  width: 384px;
  font-weight: 500;
  font-size: 35px;
  color: var(--color-h1);
  line-height: 50px;
  text-align: center;
}

.features {
  gap: 170px;
  margin-left: 35px;
}

.features-main {
  flex: 1;
}

.features-img {
  width: 508px;
  height: 415px;
}

.features-li {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.main-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size-16);
  color: var(--color-description);
  line-height: 30px;
  margin-bottom: 20px;
  text-wrap: warp;
}

.features-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-description);
  line-height: 30px;
}

.check {
  margin-right: 10px;
  max-width: 100%;
}

.pricing {
  flex-direction: column;
  // margin: 50px;
}

.section--with-bg {
  padding: 5rem 0;
  position: relative;
}

.section--with-bg::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  justify-self: center;
  background-color: hsla(0, 0%, 96%, 0.35);
  z-index: -1;
}

.pricing-description {
  width: 555px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--color-description);
}

.pricing-plans {
  display: flex;
  width: 1090px;
  justify-content: space-between;
  align-items: center;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(221, 221, 221, 1);
  border-radius: 10px;
  width: 330px;
  height: 760px;
  background-color: white;
}

.pricing-plan:hover {
  border-color: var(--color-red);
  transition: 0.5s ease-in-out;
}

.pricing-box {
  max-width: 100%;
  margin-top: 80px;
}

.name-plan {
  margin: 30px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--color-h1);
}

.pricing-ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.pricing-li {
  display: flex;
  align-items: center;
}

.pricing-mark {
  margin-right: 20px;
}
.pricing-description-li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--color-description);
}

.plan-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-h1);
}

.free {
  margin-top: 130px;
}

.standard {
  margin-top: 90px;
}

.premium {
  margin-top: 50px;
}

.mo {
  font-weight: 400;
  color: #909090;
}

.pricing-button {
  border: 2px solid var(--color-red);
  border-radius: 50px;
  padding: 13px 63px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-16);
  color: var(--color-red);
  margin: 20px 76px 50px;
}

.pricing-button:hover {
  color: white;
  background-color: var(--color-red);
  box-shadow: 0px 25px 54px 0px hsla(0, 90%, 59%, 0.35);
  transition: 0.5s ease-in-out;
}

.testimonials {
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.testimonials-description {
  width: 555px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--color-description);
  margin-top: 20px;
}

.world-map {
  margin: 156px 0 36px;
  max-width: 100%;
}

.companies {
  display: flex;
  width: 1135px;
  // gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.company {
  max-width: 100%;
  filter: contrast(0);
}
